@model CinemaManager_ahmedazizbenayed.Models.Cinema.Producer

@{
    ViewData["Title"] = "Modifier un Producteur";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nationality" class="control-label"></label>
        <textarea asp-for="Nationality" class="form-control"></textarea>
        <span asp-validation-for="Nationality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
